{{#if editForm}}
  <form class="ui form">
    {{edit-review review=review eoaNumber=eoaNumber docNumber=docNumber scoreNumber=scoreNumber tags=tags}}
    <button {{action 'editReview' review}}>Submit Changes</button>
    <button {{action 'deleteReview' review}}>Delete Review</button>
  </form>
{{else}}
<div class="ui info message">
  <div class="header">{{review.name}}</div>
  {{review.url}}<br>
  <div class="list">
    {{review.tool_review}}<br>
    <div>
      Tags:
      {{#each review.review_tags as |join|}}
        {{#link-to 'tag' join.tag}}#{{join.tag.name}}{{/link-to}}
      {{/each}}
    </div>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="row">
        <div class="two wide column">Ease of Access</div>
        <div class="eight wide column">{{{eoa-display review}}}</div>
      </div>
      <div class="row">
        <div class="two wide column">Documentation</div>
        <div class="eight wide column">{{{doc-rating review}}}</div>
      </div>
      <div class="row">
        <div class="two wide column">Overall</div>
        <div class="eight wide column">{{{score-rating review}}}</div>
      </div>
    </div>
  </div>
</div>

  {{#if session.isAuthenticated}}
    <button {{action 'showEdit' review}}>edit review</button>
  {{/if}}
  <div>
    Comments
    {{#each review.comments as |comment|}}
      <div>{{comment.comment}} - {{comment.author}}</div>
    {{/each}}
  </div>

  {{#if addCommentForm}}
    <form class="ui form">
      <div class="inline fields">
        <div class="two wide field">
          <label for="author">Who are you?</label>
        </div>
        <div class="eight wide field">
          {{input value=author id=author}}
        </div>
      </div>
      <div class="inline fields">
        <div class="two wide field">
          <label for="comment">What is your comment?</label>
        </div>
        <div class="eight wide field">
          {{textarea value=comment id=comment}}
        </div>
      </div>
      <button {{action 'addComment' review}}>add comment</button>
    </form>
  {{else}}
    <button {{action 'showCommentForm' review}}>add comment </button>
  {{/if}}
{{/if}}
